
.lg\:grid-cols-\[240px_minmax\(0\2c 1fr\)\]{ 
    grid-template-columns:300px minmax(0,1fr) !important; 
}

@media (min-width: 1400px){
    .container{
        max-width: 1500px !important;
    }
}

div.sd-summary-content > p.sd-card-text,
dd > p,
div.admonition > p {
    line-height: 1.75em;
}

.dark {
    scrollbar-color: #444 #111 !important;
}